@import "style/scss/main.scss";
@import "style/scss/catalog.scss";
@import "style/scss/product.scss";
@import "style/scss/slider.scss";
@import "style/scss/card.scss";
@import "style/scss/form.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}