@import "style/scss/main.scss";
@import "style/scss/catalog.scss";
@import "style/scss/header__slider.scss";
@import "style/scss/valid.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}