.container__catalog{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 100px 75px;
    justify-content: center;
}

.container__product_preview{
    display: grid;
    grid-template-columns: 682px 350px;
    grid-template-rows: 777px;
    grid-column-gap:168px;
    
    margin-top: 70px !important;
 }
 

.container__product_info{
    display: grid;
    grid-template-columns: 125px 527px 352px;
    grid-template-rows: 366px;
    grid-column-gap:99px;
    
    margin-top: 150px !important;
    margin-bottom: 200px !important;

    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

.container__card{
    display: block;
    
}

.container{
    max-width: 1200px;
    margin: auto;
}

.container__append-to-card{
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
}

.container__size{
    display: grid;
    grid-template-columns: 1200px;
    justify-content: center;
}