@import "valid";
@import "grid";
@import "animation";
// @import "font";

.select{
    text-decoration: underline;
    color: $blue;
}

.select_page{
    // text-decoration: underline;
    color: $blue;
}

.block__sidebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 95px;
    margin-bottom: 130px;
    height: 44px;
    // background-color: $gray__line;
    
    .sidebar__list{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 42px;
        width: 350px;
        // min-height: 128px;
        // justify-content: space-between;
        li{
            list-style: none;
        }
        

        &_filter{
            @extend %display_none;
            position: absolute;
            grid-template-columns: auto;
            width: 350px;
            padding-top: 10px;
            // padding-top: 20px;
            background-color: white;
            
            ul{
                li{
                    margin-bottom: 5px;
                    cursor: pointer;
                }
                li:first-child{
                    margin-top: 20px;
                }
                li:last-child{
                    margin-bottom: 25px;
                }
                li:hover{
                    text-decoration: underline;
                }
                .filter_first_one-head{
                    padding: 20px 0 10px 0;
                }
                p{
                    cursor: pointer;
                    padding-bottom: 10px;
                }
            }
            &_fourth{
                li:last-child{
                    padding-bottom: 10px;
                }
            }
        }

        

        &_sort{
            @extend %display_none;
            position: absolute;
            grid-template-columns: auto;
            width: 175px;
            padding-top: 10px;
            background-color: whitez;
            li{
                margin-bottom: 10px;
            }
            li:first-child{
                margin-top: 20px;
            }
            li:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &_reveal{
            @extend %display_none;
            position: absolute;
            grid-template-columns: auto;
            width: 82px;
            padding-top: 10px;
            background-color: white;
            li{
                margin-bottom: 10px;
            }
            li:first-child{
                margin-top: 20px;
            }
            li:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        
    }
}

.block__card{
    width: auto;
    height: auto;
    .card{
        width: 350px;
        height: 600px;
        // background-color: $gray__text;
        &__img{
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $gray__product-back;
            width: auto;
            height: 500px;
        }
        &__text{
            display: flex;
            flex-direction: column;
            height: 100px;
            &_low{
                margin-top: auto;
                display: flex;
                // align-items: flex-end;

                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}

.block__page{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 150px;
    .page__next{
        margin-left:20px;
        .arrow_next{
            margin-left: 13px;
        }
    }
    .page__prev{
        margin-right:61px;
        .arrow_prev{
            margin-right: 13px;
        }
    }
    div:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    li{
        list-style: none;
        margin-right: 41px;
    }
    li:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    ul{
        display: flex;
    }
}