@import "valid";
@import "grid";
@import "animation";
// @import "font";

.select{
    text-decoration: underline;
    color: $blue_hover;
}

.block__sidebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 95px;
    margin-bottom: 130px;
    height: 44px;
    // background-color: $gray__line;
    
    .sidebar__list{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 42px;
        width: 350px;
        // min-height: 128px;
        // justify-content: space-between;
        li{
            // text-transform: uppercase;
            // font-family: Inter;
            // font-style: normal;
            // font-weight: 500;
            // font-size: 12px;
            // line-height: 15px;

            list-style: none;
        }
        

        &_filter{
            @extend %display_none;
            position: absolute;
            grid-template-columns: auto;
            width: 350px;
            padding-top: 10px;
            // padding-top: 20px;
            background-color: white;
            
            ul{
                li{
                    padding-bottom: 5px;
                    cursor: pointer;
                }
                li:first-child{
                    padding-top: 20px;
                }
                li:last-child{
                    padding-bottom: 25px;
                }
                li:hover{
                    text-decoration: underline;
                }
                .filter_first_one-head{
                    padding: 20px 0 10px 0;
                }
                p{
                    cursor: pointer;
                    padding-bottom: 10px;
                }
            }
            &_fourth{
                li:last-child{
                    padding-bottom: 10px;
                }
            }
        }

        

        &_sort{
            @extend %display_none;
            position: absolute;
            grid-template-columns: auto;
            width: 175px;
            padding-top: 10px;
            background-color: whitez;
            li{
                padding-bottom: 10px;
            }
            li:first-child{
                padding-top: 20px;
            }
            li:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &_reveal{
            @extend %display_none;
            position: absolute;
            grid-template-columns: auto;
            width: 82px;
            padding-top: 10px;
            background-color: white;
            li{
                padding-bottom: 10px;
            }
            li:first-child{
                padding-top: 20px;
            }
            li:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        
    }
}

.block__card{
    width: auto;
    height: auto;
    .card{
        width: 350px;
        height: 600px;
        // background-color: $gray__text;
        &__img{
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $gray__product-back;
            width: auto;
            height: 500px;
        }
        &__text{
            display: flex;
            flex-direction: column;
            height: 100px;
            &_low{
                margin-top: auto;
                display: flex;
                // align-items: flex-end;

                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
            }
        }
        
    }
}