@import "valid";
@import "grid";
// @import "font";

.block__sidebar{
    height: 269px;
    background-color: $gray__line;
}

.block__card{
    width: auto;
    height: auto;
    .card{
        width: 350px;
        height: 600px;
        // background-color: $gray__text;
        &__img{
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $gray__product-back;
            width: auto;
            height: 500px;
        }
        &__text{
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            // align-items: flex-end;
            // align-content: flex-end;
            // flex-wrap: nowrap;
            height: 100px;
            .low{
                margin-top: auto;
                display: flex;
                // align-items: flex-end;
                &__price{
                    margin-top: auto;

                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                }

                &__hint{
                    margin-left: auto;
                    // width: 100px;
                    display: flex;
                    p{
                        margin: 0 0 5px 10px;
                        width: 20px;
                        height: 20px;
                        background-color: $blue;
                        text-align: center;

                        font-family: Inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 11px;
                        line-height: 16px;

                        color: white;
                    }
                }
            }
        }
        
    }
}