$color: #9bfd9bee;

body{
    margin: 0;
}

.app{
    background-color: $color;
    width: 1px;
    height: 200px;
}

.header{
    background-color: $color;
    width: auto;
    height: 100px;
    &__slider{
        width: 100px;
    }
}

.footer{
    background-color: $color;
    width: auto;
    height: 100px;
}
