@import "valid";
@import "grid";

.container__product_info.blur{
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
}
.rotate{
    transform: rotate(180deg);
}

.block__product_preview{
    // background-color: $black;
    &_first{
        background-color: $gray__product-back_hover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .preview{
            &__button{
                margin-bottom: 25px;
                &_prev{
                    margin-left: 30px;
                }
                &_next{
                    margin-right: 30px;
                }
            }
            &__img{
                width: 250px;
                height: 710px;
                margin-top: 25px;
            }
        }
    }
    &_second{
        &-top{

        }
        &-center{

        }
        &-bottom{
            &_button-append{
                display: flex;
                justify-content: center;
                align-items:center;
                background-color: $blue;
                color: white;
                width: 350px;
                height: 60px;
            }
            &_price-counter{
                display: flex;
            }
        }
    }
}

.block__product_info{
    
}

.button_blur{
    margin-top: 30px;
    margin-bottom: 102px;
    text-align: center;
    svg:hover{
        cursor: pointer;
    }
}

.container{
    // opacity: 0.5;
}

.block__append-to-card{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    // height: 900px;
    background-color: white;
    &_title{
        margin-top: 50px;
        margin-bottom: 73px;
        display: flex;
        justify-content: space-between;
    }
    &_counter{
        display: flex;
        .counter_price{
            display: flex;
        }
    }
    &_bottom{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        p{
            display: flex;
            justify-content: center;
            align-items:center;
            background-color: $blue;
            color: white;
            width: 350px;
            height: 60px;
        }
    }
}

.block__size{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    // height: 900px;
    background-color: white;
    &_title{
        margin-top: 70px;
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
    }
    li{
        list-style: none;
    }
    .size_content{
        &_men{
            &_table{
                display: none;

                &_table-first{
                    display: grid;
                    grid-template-columns: 130px 82px;
                    grid-column-gap: 70px;
                }
                &_table-second{
                    display: grid;
                    grid-template-columns: 144px 62px 62px 62px 62px 62px;
                    grid-column-gap: 70px;
                }
            }
        }
        &_women{
            &_table{
                display: none;

                &_table-first{
                    display: grid;
                    grid-template-columns: 130px 82px;
                    grid-column-gap: 70px;
                }
                &_table-second{
                    display: grid;
                    grid-template-columns: 144px 62px 62px 62px 62px 62px;
                    grid-column-gap: 70px;
                }
            }
        }
        &_shoes{
            &_table{
                display: none;

                &_table-first{
                    display: grid;
                    grid-template-columns: 140px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
                    grid-column-gap: 50px;
                }
                &_table-second{
                    display: grid;
                    grid-template-columns: 140px 30px 30px 30px 30px 30px 30px 30px;
                    grid-column-gap: 50px;
                }
                &_table-third{
                    display: grid;
                    grid-template-columns: 24px 24px 24px 24px 24px 24px 24px 24px;
                    grid-column-gap: 50px;
                }
                &_table-four{
                    display: grid;
                    grid-template-columns: 24px 56px 56px;
                    grid-column-gap: 50px;
                }
            }
        }
        &_shirt{
            &_table{
                display: none;

                &_table-first{
                    display: grid;
                    grid-template-columns: 95px 82px 74px;
                    grid-column-gap: 70px;
                }
            }
        }
        &_tee{
            &_table{
                display: none;
                
                &_table-first{
                    display: grid;
                    grid-template-columns: 54px 54px 54px 54px 54px 54px;
                    grid-column-gap: 50px;
                }
            }
        }
        &_glove{
            &_table{
                display: none;

                &_table-first{
                    display: grid;
                    grid-template-columns: 14px 14px 14px 24px;
                    grid-column-gap: 50px;
                }
            }
        }
    }
    
}