@import "valid";
@import "grid";

.container__product_info.blur{
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
}
.rotate{
    transform: rotate(180deg);
}

.block__product_preview{
    // background-color: $black;
    &_first{
        
        li{
            list-style: none;
            margin-bottom: 50px;
        }
        li:first-child{
            margin-top: 25px;
        }
        img{
            width: 64px;
            height: 184px;
        }
    }
    &_second{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .preview{
            &__button{
                margin-bottom: 25px;
            }
            &__img{
                width: 250px;
                height: 710px;
                margin-top: 25px;
            }
        }
    }
    .block__product_third{
        &-top{

        }
        &-center{

        }
        &-bottom{
            &_button-append{
                display: flex;
                justify-content: center;
                align-items:center;
                background-color: $blue;
                color: white;
                width: 350px;
                height: 60px;
            }
            &_price-counter{
                display: flex;
            }
        }
    }
}

.block__product_info{
    
}

.button_blur{
    margin-top: 30px;
    margin-bottom: 102px;
    text-align: center;
    svg:hover{
        cursor: pointer;
    }
}

.block__size{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}